<div>
  <h1><%= link_to 'Test Guru', root_path %></h1>
  <% if user_signed_in?  %>
    <p class="nav">
      <%= "Welcome, #{current_user.email} Guru" %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>
  <% else %>
    <p class="nav">
      <%= link_to 'Log in', new_user_session_path %>
      &nbsp;or &nbsp;
      <%= link_to 'Sing up', new_user_registration_path %>
    </p>

  <% end %>
</div>