<h1>Прохождение тестов пользователями</h1>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th class="sort-by-title pointer" >
      Пользователь
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col">Тест</th>
    <th scope="col"> Длительность, мин</th>
    <th scope="col">Время старта</th>
    <th scope="col">Текущий вопрос</th>
    <th scope="col">Результат</th>
  </tr>
  </thead>
  <tbody>
    <% @test_passages.each do |test_passage| %>
      <tr>
        <td><%= test_passage.user.email %>  </td>
        <td><%= test_passage.test.title %>  </td>
        <td><%= test_passage.test.timer %> </td>
        <td><%= test_passage.created_at %> </td>
        <td><%= test_passage.current_question %> </td>
        <td><%= test_passage.passed %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
