<h1><%=@test.title %></h1>
<p>Level <%=@test.level %></p>
<p>Category <%=@test.category %></p>
<p>Author <%=@test.author %></p>
<br>
<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'List', admin_tests_path %>
<br>
<p>Вопросы:</p>
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
  <%#= render @questions %>
  <%= render partial: 'admin/questions/question', collection: @questions %>
  </tbody>
</table>
<%= link_to 'New question',  new_admin_test_question_path(@test) %>

