<p id="notice"><%= notice %></p>

<h1>Badge Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badge_types.each do |badge_type| %>
      <tr>
        <td><%= badge_type.type %></td>
        <td><%= badge_type.name %></td>
        <td><%= link_to 'Show', badge_type %></td>
        <td><%= link_to 'Edit', edit_badge_type_path(badge_type) %></td>
        <td><%= link_to 'Destroy', badge_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badge Type', new_badge_type_path %>
