<p id="notice"><%= notice %></p>

<p>
  <strong>BType:</strong>
  <%= @badge_type.b_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @badge_type.name %>
</p>

<%= link_to 'Edit', edit_admin_badge_type_path(@badge_type) %> |
<%= link_to 'Back', admin_badge_types_path %>
