<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <% humanize_attribute_names(%i[title level category author]).each do |field_name| %>
        <th><%= field_name %></th>
      <% end %>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
<br>
