<h1><%=@test.title %></h1>
<p>Level <%=@test.level %></p>
<p>Category <%=@test.category %></p>
<p>Author <%=@test.author %></p>
<br>
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'List', tests_path %>
<br>
<p>Вопросы:</p>
<table>
  <tr>
    <th>Question</th>
    <th span="3">Actions</th>
  </tr>
  <%= render @questions %>
</table>
<%= link_to 'New question',  new_test_question_path(@test) %>

